{% extends '_layouts/cp' %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% set title = "Advanced Discounts"|t('advanced-discounts') %}

{% set additionalButtons %}
	<a class="btn submit add icon" href="{{ url('advanced-discounts/new') }}">{{ "New discount"|t('advanced-discounts') }}</a>
{% endset %}

{% css %}
	{% include 'advanced-discounts/_includes/plugin-footer-css' %}
{% endcss %}

{% set content %}
	<div id="advanced-discounts-list"></div>
	{% include 'advanced-discounts/_includes/plugin-footer' %}
{% endset %}

{% js %}
	let columns = [
		{ name: '__slot:title', title: Craft.t('app', 'Name') },
		{
			name: 'type',
			title: Craft.t('advanced-discounts', 'Type'),
		},
		{
			name: 'requireCouponCode',
			title: Craft.t('advanced-discounts', 'Require Coupon Code'),
			callback: (value) => value ? '<span data-icon="check"></span>' : '',
		},
		{
			name: 'coupons',
			title: Craft.t('advanced-discounts', 'Coupons'),
			callback: (value) => value ? value : '',
		},
		{
			name: 'timesUsed',
			title: Craft.t('advanced-discounts', 'Times Used'),
			callback: (value) => value ? value : '',
		},
		{
			name: 'stopProcessing',
			title: Craft.t('advanced-discounts', 'Stops Processing?'),
			callback: (value) => value ? '<span data-icon="check"></span>' : '',
		},
		{
			name: 'dateCreated',
			title: Craft.t('advanced-discounts', 'Date Created'),
		},
	];

	new Craft.VueAdminTable({
		columns,
		padded: true,
		container: '#advanced-discounts-list',
		emptyMessage: Craft.t('advanced-discounts', 'No discounts yet.'),
		search: true,
		checkboxes: true,
		tableData: {{ tableData|json_encode|raw }},
		deleteAction: 'advanced-discounts/manage/delete',
		reorderAction: 'advanced-discounts/manage/reorder',
		reorderSuccessMessage: Craft.t('advanced-discounts', 'Discounts reordered.'),
		reorderFailMessage: Craft.t('advanced-discounts', "Couldn't reorder discounts."),
	});
{% endjs %}
