{% extends '_layouts/cp' %}

{% set title = "Coupons"|t('coupons') %}

{% set additionalButtons %}
    <a class="btn submit add icon" href="{{ url('coupons/coupon') }}">{{ "New coupon"|t('coupons') }}</a>
{% endset %}

{% set content %}
    {# todo add content #}
{% endset %}
