{% extends '_layouts/cp' %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% set title = "Advanced Discounts"|t('advanced-discounts') %}

{% set additionalButtons %}
	<a class="btn submit add icon" href="{{ url('advanced-discounts/new') }}">{{ "New discount"|t('advanced-discounts') }}</a>
{% endset %}

{% set content %}
	<div id="advanced-discounts-list"></div>
{% endset %}

{% js %}
	let columns = [
		{ name: 'enabled', title: '', callback: (value) => `<span class="status ${value ? 'enabled' : 'disabled'}"></span>` },
		{ name: '__slot:title', title: Craft.t('app', 'Name') },
		{
			name: 'code',
			title: Craft.t('advanced-discounts', 'Code'),
		},
		{
			name: 'dateCreated',
			title: Craft.t('advanced-discounts', 'Created'),
		},
		{
			name: 'dateUpdated',
			title: Craft.t('advanced-discounts', 'Updated'),
		},
	];

	new Craft.VueAdminTable({
		columns,
		container: '#advanced-discounts-list',
		emptyMessage: Craft.t('advanced-discounts', 'No discounts yet.'),
		search: true,
		checkboxes: true,
		tableData: {{ tableData|json_encode|raw }},
		deleteAction: 'advanced-discounts/manage/delete',
		reorderAction: 'advanced-discounts/manage/reorder',
		reorderSuccessMessage: Craft.t('advanced-discounts', 'Discounts reordered.'),
		reorderFailMessage: Craft.t('advanced-discounts', "Couldn't reorder discounts."),
	});
{% endjs %}
