<div class="fc-plugin-footer">
	<a class="fc-plugin-credit" href="https://www.fostercommerce.com/contact" target="_blank" title="Foster Commerce Support">
		<span class="fc-credit-text">Support by</span>
		<span class="fc-credit-logo">
			{% include 'advanced-discounts/_includes/foster-commerce-logo' %}
		</span>
	</a>
</div>
